<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ Main.servername }}</title>

    {% load static %}
<link href="{% static 'Dash/DashStyle.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
<script type="text/javascript" src="{% static 'Dash/DashJS.js' %}"></script>
</head>
<body>
<div class="container">
  <header>
    <div class="primary_header">
        <h1 class="title">{{ Main.servername }}</h1>
    </div>
    <nav class="secondary_header" id="menu">
      <ul>
          <li><a href="">DASHBOARD</a></li>
        <li>PLAYERS</li>
        <li>COMMANDS</li>
        <li>SETTINGS</li>
        <li><a href="console/">CONSOLE</a></li>
        <li>LOG</li>
      </ul>
    </nav>
  </header>
  <section>
    <h2 class="noDisplay">Main Content</h2>
    <article class="left_article">
      <form method="post">
        {% csrf_token %}
        <h3>Server Status: <button type="submit" name="startserver" >{{ status }}</button></h3>
      </form>
      <p>{{ players }} / {{ maxplayers }}</p>
      <p>{{ softwaretype }}</p>
        <p>{{ ip }}:{{ port }}</p>
    </article>
    <aside class="PLAYERS">
	<ul>
	{% for x in ActivePlayers %}
		<li>{{ x.username }}</li>
        <ul class="player-menu">
            <li data-action="Ban">Ban</li>
            <li data-action="Mute">Mute</li>
            <li data-action="Kick">Kick</li>
            <li data-action="Message">Message</li>
            <li data-action="Details"><a href="details/{{ x.id }}">Details</a></li>
        </ul>
	{% endfor%}
	</ul>  
	</aside>
  </section>
  <div class="row">
       <section>
            <iframe src="/console-output/" width = "80%" height="100%"> 
		        {% for line in output %}
                    <p> {{ line }}</p>
		        {% endfor %}
            </iframe>
	  <form method="post" width="100%">
    	<label for="textfield">Command:</label>
    	<input type="text" name="command" id="textfield" width="100%">
	  </form>
  </section>
 </div>
 </div>
</body>
</html>
